body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 800;
  background-color: #f5f5eb;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.mems:hover .mem-item {
  color: black;
}

.mems:hover .mem-icon {
  display: block;
}

.mem-item {
  border-top: 1px solid rgba(189, 187, 187, 0.637);
  color: rgb(14, 96, 219);
  transition: color .2s ease-out;
  cursor: pointer;
}

.mem-item:hover .mem-img {
  display: block;
}

.mem-item:hover .mem-icon {
  transform: rotate(45deg);
}

.mem-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  cursor: pointer;
}

.mem-icon {
  display: none;
  transition: transform .3s ease-out;
}

.mem-input {
  width: 0;
  height: 0;
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.mem-img {
  width: 400px;
  height: 400px;
  display: none;
  animation: show 1.5s forwards;

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;

  /* display: block; */
  margin: 0 auto;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* .mem-img img {
  display: block;
  margin: 0 auto;
} */

.mem-input:checked ~ .mem-img {
  display: block;
}

.mem-input:checked + .mem-title {
  color: black;
}

.mem-input:checked + .mem-title .mem-icon {
  transform: rotate(45deg);
}

.mem-img-1 {
  background-image: url('1.jpg');
}

.mem-img-2 {
  background-image: url('2.jpg');
}

.mem-img-3 {
  background-image: url('3.jpg');
}

.mem-img-4 {
  background-image: url('4.jpg');
}

.mem-img-5 {
  background-image: url('5.jpg');
}

.mem-img-6 {
  background-image: url('6.jpg');
}